:root {
  --background: #030914;
  --foreground: #ffffff;

  --card: #091225;
  --border: #13223f;

  --primary: #1bf8c3;
  --primary-hover: #14deab;

  --secondary: #0bb883;
  --secondary-hover: #0a9d70;

  --muted: #7c8ba1;
  --warning: #e0533c;

  --glass-blur: blur(18px);
}
